body{
    background-color: royalblue;
}

#main_title1 {
    width: 600px;
    height: 200px;
    background-color: aqua;
    margin-top: 40px;
    margin-left: 550px;
    text-align: center;
    font-size: 150px;
}

#main_title2 {
    width: 600px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    margin-right: 550px;
    text-align: center;
    font-size: 150px;
}

#game_start{
    width: 400px;
    height: 120px;
    margin: auto;
    margin-top: 100px;
    background-color: pink;
    text-align: center;
    font-size: 80px;
}

#game_method{
    width: 400px;
    height: 120px;
    margin: auto;
    margin-top: 60px;
    background-color: pink;
    text-align: center;
    font-size: 80px;
}