@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: aqua;
    display: flex;
    margin: auto;
}

#question {
    width: 960px;
    height: 917px;
}

#quiz {
    width: 800px;
    height: 70px;
    border: solid 10px black;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jua", sans-serif;
    border-radius: 20px;
    color: royalblue;
    -webkit-text-stroke: 2px black;
}

#quiz_img {
    width: 800px;
    height: 700px;
    border: solid 13px;
    margin: auto;
    margin-top: 30px;
}

#quiz_img img {
    width: 800px;
    height: 700px;
}

#multiple_choice {
    width: 960px;
    height: 917px;
}

#multiple_choice1, #multiple_choice2, #multiple_choice3, #multiple_choice4 {
    width: 800px;
    height: 150px;
    border: solid 10px black;
    margin: auto;
    margin-top: 10px;
    transition: all 0.2s linear;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jua", sans-serif;
    border-radius: 20px;
    color: royalblue;
    -webkit-text-stroke: 2px black;
}

#multiple_choice1 {
    margin-top: 100px;
}

#multiple_choice1:hover, #multiple_choice2:hover, #multiple_choice3:hover, #multiple_choice4:hover {
    transform: scale(1.1);
}

#results {
    text-align: center;
    margin-top: 50px;
    display: none;
    font-size: 100px;
    margin: auto;
}

#results .start_move {
    border: 13px solid;
    width: 600px;
    height: 160px;
    margin: auto;
    border-radius: 20px;
    transition: all 0.2s linear;
}

#results .start_move:hover {
    transform: scale(1.1);
}

#results a {
    display: inline-block;
    font-size: 100px;
    text-decoration: none;
    font-family: "Jua", sans-serif;
    color: royalblue;
    -webkit-text-stroke: 6px black;
}

h2{
    font-family: "Jua", sans-serif;
    color: royalblue;
    -webkit-text-stroke: 6px black;
}

p{
    font-family: "Jua", sans-serif;
    color: royalblue;
    -webkit-text-stroke: 6px black;
}
